<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zking.dao.DeliveryspotMapper">

    <!--获取所有配送点--> 
    <select id="getDeliverys" resultType="deliveryspot">
        select * from tb_deliveryspot;
    </select>

</mapper>
