<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--启用log日志打印sql-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>

        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    
    <!--设置别名-->
    <typeAliases>
        <package name="com.zking.model"/>
    </typeAliases>


    <!--加载mapper映射文件-->
    <!--<mappers>
        <mapper resource="mappers/UserMapper.xml"></mapper>
    </mappers>-->

</configuration>